Package: jp.r-plus.hatebu4ipadpatcher
Name: Hatebu4iPadPatcher
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: extend ActionSheet button to linkage Twitter.app and Read It Later.
Maintainer: r_plus
Author: r_plus
Section: Tweaks
dev: rplus